.DS_Store
__pycache__
venv
.idea
pickhardtpayments/pickhardtpayments.egg-info
pickhardtpayments/__pycache__

# not including large file with Channel Graph
*.json
examples/.json

# from documentation
docs

pickhardt_pay.log

# avoid workbook
examples/PickhardtPaymentsExample.ipynb